@media screen and (min-width:480px) and (max-width:767px) {
.client {
        padding-top: 94px;
        padding-bottom: 94px;


        &-container {
            width: 480px;
            padding-left: 15px;
            padding-right: 15px;
                    margin-left: auto;
                        margin-right: auto;
        }

        &-h2 {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.66;
            text-align: center;
            margin-bottom: 50px;
        }

        &-ul {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            list-style: none;
            gap: 30px;
        }

        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 210px;
            height: 92px;
            border: 1px solid #AFB1B8;
            border-radius: 4px;
            color: $icon-color;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover,
            &:focus {
                border-color: $color-hover;
                color: $color-hover;
            }
        }

        &-svg {
            fill: currentColor;
        }
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
.client {
        padding-top: 94px;
        padding-bottom: 94px;

        &-container {
                width: 768px;
                padding-left: 15px;
                padding-right: 15px;
                margin-left: auto;
                margin-right: auto;
            }

        &-h2 {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.66;
            text-align: center;
            margin-bottom: 50px;
        }

        &-ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            gap: 30px;
        }

        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 226px;
            height: 92px;
            border: 1px solid #AFB1B8;
            border-radius: 4px;
            color: $icon-color;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover,
            &:focus {
                border-color: $color-hover;
                color: $color-hover;
            }
        }

        &-svg {
            fill: currentColor;
        }
    }
}

@media screen and (min-width:1200px) {
.client {
        padding-top: 94px;
        padding-bottom: 94px;

        &-container {
                width: 1200px;
                padding-left: 15px;
                padding-right: 15px;
                margin-left: auto;
                margin-right: auto;
            }

        &-h2 {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.66;
            text-align: center;
            margin-bottom: 50px;
        }

        &-ul {
            display: flex;
            list-style: none;
            gap: 30px;
        }

        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 170px;
            height: 92px;
            border: 1px solid #AFB1B8;
            border-radius: 4px;
            color: $icon-color;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover,
            &:focus {
                border-color: $color-hover;
                color: $color-hover;
            }
        }

        &-svg {
            fill: currentColor;
        }
    }
}