@mixin retina {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        @content;
    }
}

.order {
    @media screen and (min-width:100px) and (max-width:480px) {
        min-width: 480px;
    }

}


@media screen and (min-width:100px) and (max-width:767px) {
.order {
        max-width: 480px;
        min-height: 400px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/preview-mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding-top: 118px;
        padding-bottom: 118px;
        margin-left: auto;
        margin-right: auto;

        @include retina {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/preview-mobile-2x.jpg);
        }


        &__container {
            width: 480px;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: auto;
            margin-right: auto;
        }

        &__main-title {
            width: 360px;
            font-weight: 900;
            font-size: 26px;
            line-height: 1.62;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: $white-text-color;
            margin: 0 auto;
            margin-bottom: 30px;
        }

        &__button {
            cursor: pointer;
            background: $color-hover;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            font-family: inherit;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            color: $white-text-color;
            padding: 10px 32px;
            border: none;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
.order {
        max-width: 768px;
        min-height: 400px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/preview-tab.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding-top: 118px;
        padding-bottom: 118px;
        margin-left: auto;
        margin-right: auto;

        @include retina {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/preview-tab-2x.jpg);
            }

        &__container {
            width: 768px;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: auto;
            margin-right: auto;
        }

        &__main-title {
            width: 360px;
            font-weight: 900;
            font-size: 26px;
            line-height: 1.62;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: $white-text-color;
            margin: 0 auto;
            margin-bottom: 30px;
        }

        &__button {
            cursor: pointer;
            background: $color-hover;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            font-family: inherit;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            color: $white-text-color;
            padding: 10px 32px;
            border: none;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

@media screen and (min-width:1200px) {
.order {
        max-width: 1600px;
        min-height: 600px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/preview.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        padding-top: 200px;
        padding-bottom: 200px;
        margin-left: auto;
        margin-right: auto;

        @include retina {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/preview-pc-2x.jpg);
            }

        &__container {
            width: 1200px;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: auto;
            margin-right: auto;
        }

        &__main-title {
            width: 700px;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            color: $white-text-color;
            margin: 0 auto;
            margin-bottom: 30px;
        }

        &__button {
            cursor: pointer;
            background: $color-hover;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            font-family: inherit;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            color: $white-text-color;
            padding: 10px 32px;
            border: none;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}